@media (max-width:800px){
  nav img{
    height: 50px;
  }

  .navbar{
    height: 40px;
  }

 .navbar-nav{
   height: 100%;
 }

  .img1{ 
    background-image: url("../images/cover_back_mob.jpg" );
    width: 300px;
    margin: 20px;
  }

.sig {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 230px;
  grid-gap: 1em;
  padding-top: 50px;
}
.img2 { background-image: url("../images/c-kagada19.jpg");}
.img3 { background-image: url("../images/c-impetus.jpg"); }

.s-descrip{
  padding: 5px;
  font-size: 80%;
  padding-top: 35px;
}
.title h1{
  font-size: 100%;
  padding-top: 3%;
}

.fest-image{
  padding:10px; 
  float: unset;
  width: 100%;
  height: 240px;
  top: 0%;
}

.fest-image img{
  height: 100%;
}
.staff-madam{
  float: none;
}
.others{
  grid-template-columns: 1fr 1fr;
}
.gallery{
  margin-left:0% ;
}

.recent-list{
  
    align-content: center;
   width: 100%;
    overflow: hidden;
    height: fit-content;
   
    
  }
.person{
  max-width: 400px;
}
.person img{
  width: 80%;
  padding: 5px;
}
table tbody tr td{
  font-size: 10px;
}
/*.ml1 .text-wrapper {
  font-size: 60%;
}*/
.col {
  -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
}
.title-color1{
  font-size: 2vh;
}
.blue1{
  font-size: 25px;
  padding: 10px;
}
}
@media(max-width:400px)
{
  .col {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
@media(min-width:800px)
  {
    nav img{
      height: 80px;
    }
    .navbar {
      height: 80px;
    }
    #ieeeimage{
      display: flex;
    }
  .img1 { 
          background-image: url("../images/cover_back.jpg");
          image-resolution: 72dpi; 
          margin: 20px;
        }
  
  
  .gallery{
    margin-left: 35%;
  }
  .some-links{
    font-size: 4vh;
  }
  .sig {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 230px;
    grid-gap: 1em;
    
  }
  .img2 { background-image: url("../images/kagada19.jpg");}
  .img3 { background-image: url("../images/impetus.jpg"); }

  .s-descrip{
    padding: 20px;
    font-size: 90%;
    padding-top: 50px;
  }
  .col{
    -ms-flex: 50%;
    flex: 50%;
    max-width: 25%;
    padding: 0 4px;
  }
  .title h1{
    padding-top: 5px;
    font-size: 150%;
  }
  .fest-image{
    flex: 100%;
    height: 470px;
    top: 0%;
    /*display: inline-block;*/
  }
  
  .fests{
    display: flex;
  }
  .description{
    font-size: 200%;
    padding-top: 300px;
  }
  .staff-madam{
    float: left;
    width: 30%;
    padding-top: 15%;

  }
  .others{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .person img{
    padding:20px;
  }
  /*.ml1 .text-wrapper {
    font-size: 200%;
  }*/
  .recent-img{
    padding-top:20px;
    padding-left: 20%;
  }
   
  .recent{
    display: flex;
  }

  .recent-list{
    /* padding: 60px;
      align-content: center;
      width: 50%;
      text-align: center;
      overflow: hidden;
     height: fit-content;
     padding-left: 0%;
      padding-top: 30px;
       */
       width: 100%;
       font-size: 3vh;
       align-self: center;
      
    }
  

  .rimage{
    
    background-image: url("../images/coll2.jpg");
    width: 500px;
    height: 280px;
  }


table tbody tr td{
  font-size: 20px;
}
.title-color1{
  font-size: 4vh;
}
.blue1{
  font-size: 30px;
  padding: 20px;
}
  }



/*-------------------------------------------------------*/
.intro{
  transform: translate(0%,-50%);
  width: auto;
  height: auto;
  align-content: center;
  
}
.ml1 {
  font-weight: 900;
  font-size: 3.5em;
  top: 0%;
  left: 10%;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  left: 10%;
  /*font-size: 150 vw;*/
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }
/*---------------------------------------------------------*/
body,html{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='841' height='841' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke-opacity='0.53'%3E%3Cg stroke='%23c7fff4' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23cbfff5' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23cefff5' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23d2fff6' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23d6fff7' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23d9fff7' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23ddfff8' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23e0fff9' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23e4fff9' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23e7fffa' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23ebfffb' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23eefffc' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%23f2fffc' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%23f5fffd' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23f8fffe' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23fcfffe' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23ffffff' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.bg-image {
  overflow: hidden;
  height: 100%;   
  overflow: hidden;
  width: 100%;  
  /* margin-top: 10%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ieee-content
{
  margin: 20px;
  font-size: 2vh;
  width: 90%; 
  align-self: center;
}
.container{
  padding-top: 50px;
  width: 100%;
}

#ieeeimage{
  width: 100%;
  vertical-align: center;
  background-color: #2c343f;
  padding: 30px;
  margin-top: 2%;
  align-content: center;
}

  .main-title{
    position: center;
    width: 100%;
    z-index: 1;
    padding: 20px;
    size: 40px;
    /*margin-top: 30px;*/
    text-size-adjust: 50px;
    color: rgb(0.0, 0.0, 0.0);;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .main-title h1{
    font-size: 250%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .main-title span{
    box-sizing: border-box;
    background: rgb(0.0,0.0,0.0);
    width: 10%;
    height: 1px;
    display: inline-block;
    vertical-align: text-bottom;
    align-content: center;
  }

  .front-page{
    background-color: #00a2fff6;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='470' height='391.7' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.07'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    width: 100%;
    height: 100%;
    align-content: center;
    overflow: hidden;
  
}

.front-page h1{
  position: absolute;
  margin-top: 35vh;
  left: 10%;
  font-size: 4rem;
  color: #fff;
  text-align: center;
  font-weight: 100;
  word-spacing: 2rem;
  z-index: 200;
  font-size: 80px;
}
.second{
  width: 100%;
  height: 100%;
}
.svg-wrapper {
  z-index: 200;
  position: absolute;
  text-align: center;
  display: inline-block;
  margin: 0%;
  top: 80vh;
  align-content: center;
  overflow: hidden;
  width: 100%;
  animation: appear 1s ease-in 3.5s;
  animation-fill-mode: both;
  cursor: pointer;
}
.svg-wrapper:active{
  top: 80.2vh;
}
.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #ffffff;
}
.text {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 8px;
  line-height: 1.5rem;;
  position: relative;
  top: -45px;
  text-align: center!important;
}
@keyframes appear{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
@keyframes reverseAppear {
  0% {
      opacity: 1;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(0);
  }
}
@keyframes draw {
  0% {
      stroke-dasharray: 140 540;
      stroke-dashoffset: -474;
      stroke-width: 6px;
  }
  100% {
      stroke-dasharray: 760;
      stroke-dashoffset: 0;
      stroke-width: 2px;
  }
}
.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  -moz-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
/*-------------------------------------------------------*/



/*----------------------------------------------------------------------*/
body{
  width: 100%;
}

nav img{
    color: white;
    padding: 4px;
    /* padding-left: 15px; */
    display: block;
  }

.navbar{
  border-radius: 0%;
  background-color: rgb(27, 96, 245);
  box-shadow: 2px 2px 6px #000000;
}

.navbar-nav{
  height: 100%;
  z-index: 100;
}
.navbar-default {
  background-color: rgb(27, 96, 245);
  border-color: transparent;
  
}
.navbar-default .navbar-nav{
  text-align: center;
  align-content: center;
  height: 100%;
  padding: 10px;
  background-color: rgb(27, 96, 245);
  height: 100%;
  z-index: 100;
}
.navbar-default .navbar-nav li a{
color:white;
text-decoration:none;
padding:0.8em 0.9em;

display:block;
border-radius: 3px;
font-size:1.3em;
font-weight:400;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:active{

  border-radius: 3px;
  color: rgb(27, 96, 245);
  background-color: white;
}

.navbar-default .navbar-nav li a:focus{
  border-radius: 3px;
  color: rgb(27, 96, 245);
  background-color: white;
}

/*-----------------------------------------------------------------------------------*/
.ieee-content{
    
    /* bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(15, 15, 15, 0.822); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    text-align: justify;
    left: 50%;
    height: fit-content;
    font-size: 2vh;
    padding: 20px;
    t
    
    
    
   /* text-align: justify;
    z-index: 0;
    left: 50%;
    font-size:2vh;
    height: fit-content;
    transform: translate(-50%, -50%);
    padding: 20px;
    -webkit-animation-name: ieeeback;
    -webkit-animation-duration: 4s;
    animation-name: ieeeback;
    animation-duration: 4s; */ */
    /*font-size: 3wh;*/
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */ */
  }  

  .item{
    width: 100%;
    height: 100%;
  }


  .content{
    position: relative;
    color: white;
  }
  .ieee-title{
    font-size: 5vh;
  }
  
  @-webkit-keyframes ieeeback{
    from{opacity: 0;}
    to{opacity: inherit}
  }

  @keyframes ieeeback{
    from{opacity: 0}
    to{opacity: inherit;}
  }
  /*---------------------------------------------------------------*/
    
  .recent a{
    display: block;
    text-align: center;
    color: rgb(0.0,0.0,0.0);
    font-style: bold;
    padding:1%;
    font-size: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /*------------------------------------------------------------------------------------------*/

  #sig-box{
    width: 100%;
    padding: 2%;
    overflow: hidden;
    
  }

  .sig-image{
    box-shadow: 3px 3px 3px 3px rgba(51, 51, 51, 0.247);
    padding-top: 30%;
    top:0;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  
  
  .s-descrip{
    background-color: rgb(0, 0, 0.8);
    color: #f1f1f1;
    position: absolute;
    width: 100%;
    text-align: justify;
    top: -100%;
    height: 100%;
    
    display: none;
    box-sizing: border-box;
    transition: all 0.5s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .img-art{ background-image: url("../images/sig/art.jpg")}
  .img-avishkar{ background-image: url("../images/sig/avishkar.jpg")}
  .img-cs{ background-image: url("../images/sig/cs.jpg")}
  .img-design{ background-image: url("../images/sig/design.jpg")}
  .img-robotics{ background-image: url("../images/sig/robotics.jpg")}
  .img-tisp{ background-image: url("../images/sig/tisp.jpg")}
  .img-literary{ background-image: url("../images/sig/literary.jpg")}
  .img-pes{ background-image: url("../images/sig/pes.jpg")}
  .img-web{ background-image: url("../images/sig/web.jpg")}
  .img-wie{ background-image: url("../images/sig/wie.jpg")}

  .sig-image:hover .s-descrip{
    display: block;
    -webkit-animation: drop 1s ;
    -webkit-animation-delay: 0;
    -webkit-animation-fill-mode: forwards;
    animation: drop 1s;
    animation-delay: 0;
    animation-fill-mode: forwards;
  }
  .sig-image:hover .title{
    display: block;

  }

  @-webkit-keyframes drop{
    from{top:-100%}
    to{top: 0%}
  }
  @keyframes drop{
    from{top:-100%}
    to{top: 0%}
  }
  .title{
    width: 100%;
    display: inline-block;
    height: auto;
    top: -6%;
    font-style: bold;
    
    text-align: center;
    background-color: rgb(27, 96, 245);
    color: white;
    position: absolute;
    z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
/*-------------------------------------------------------------------*/

#gallerydisplay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10000;
  
}

.gallery-images{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}


.col img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.gallery{
  
  padding: 0%;
  height: auto;
  display: flex;
  align-content: center;
  position:relative;
  
}

.gallery h1{
  text-align: center;
  position: center;
  align-content: center;
}
.gallery div{
  padding: 20px;
}

  /*----------------------------------------------------------*/
  #fest-box{
    height: auto;
    overflow: hidden;
  }
  .fests{
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .fest-image{
    position: relative;
    overflow: hidden;
    padding: 20px;   
  }
  
  .fests .fest-image .description{
    background-color: rgba(8, 7, 7, 0.924);
    color: #f1f1f1;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    z-index: 1;
    height: 100%;
    padding: 20px;
    padding-left: 40px;
    box-sizing: border-box;
    transition: all 0.5s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;text-align: justify;

  }

  .fest-image:hover .description{
    left: 0%;
  }

   /*------------awards---------------------------------------------*/
    .some-links{
   width: 100%;

 }
 .some-links p {
   text-align: center;
   font-size: 4vh;
   
 }
 .some-links h1{
   font-size: 6vh;
 }

   .awards-recognition{
    padding: 20px;
    overflow: hidden;
    width: 100%;
  }
  .awards
  {
    align-content: center;
    font-size: 20px;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgb(27, 96, 245);
    justify-content: center;
    align-content: justify;
    text-align: justify;
  }

  /*-----------------------------------*/
  .staff{
    width: 100%;
    padding-top: 20px;
    height: fit-content;
    padding: 20px;
    overflow: hidden;
  }
  
 
  .person {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   margin: auto;
   text-align: center;
   font-family: arial;
   padding-top: 20px;
   background-color: white;
 }
 
 .person h1{
   font-size: 140%;
 }
 
 .portpolio {
   color: grey;
   font-size: 18px;
 }
 
 .others{
   display: grid;
   grid-auto-columns: 250px; 
   grid-gap: 1em;
 }
 .staff-madam .person{
   border-top: 20px;
 }

 /*------------------------------------------*/
 .icon {
    font-size: 1.5rem !important;
    margin: 1rem;
  }
  .icon:hover {
  color: rgb(10, 231, 202);
  transition-delay: 300ms;
  transform: scale(1.1);
  }
  .icon-arrange {
  display: flex;
  justify-content: center;
  }
  .icon-arrange a{
    padding:10px;
  }
  .fadeInUpBig{
    overflow: hidden;
  }
  #foot {
  
    background-color: black;
    background-image: linear-gradient(black,rgba(43, 42, 42, 0.952),rgb(68, 67, 67));
    padding-top: 50px;
    color: #fff;
    text-align: center;
    overflow: hidden;
    }
  .alignEnd{
    display: flex;
    justify-content: space-around;
  }
  #foot p a:link{
    color: inherit!important;
  }
  #foot a{
    color: #fff;
    text-decoration: none;
    line-height: 1.5rem;
    position: relative;
  }

  /*-------------------------------------------------*/
  #members{
    top: 2%;
    background-color: rgb(39, 39, 39);
    border-bottom: 1px solid white;
    color: white;
    padding: 20px;
    left: 0;
    right: 0;
    position: absolute;
    width: 90%;
    margin: 0px 5vw;
    z-index: 100000;
    display: none;
    animation-fill-mode: both;
  }
  tr{
    /*width: 100%;*/
  }
  
  table {
  width: 100%;
  border-collapse: collapse;
  }

  .title-color {
    background-color: black;
    color: #fff;
    padding: 0.3em;
    text-align: center;
    font-weight: 400;
    font-family: monospace;
    font-size: 5vh;
    width: auto;
  }
  td {
    padding: 1rem !important;
    padding-right: 25%;
    }
  
/*hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
#canvas{
  background-color: #2c343f;
  width: 100%;
  height: 100%;		
}

/* llllllllllllllllllllllllllllllllllllllllllllllll */
@media(max-width:800px){
  .title-color{
    font-size: 3vh;
  }
}
@media(min-width:800px){
  .container{
    width: 60%;
  }
  .ieee-content
  {
    display: inline-block;
    width: 40%;
    margin: 20px;
    margin-top: 60px;
    font-size: 2.5vh;
    /* vertical-align: center; */
  }
}
@media (min-width: 800px) and (max-width: 1100px){
  .others{
    grid-template-columns: 1fr 1fr;
  }

  #ieeeimage{
    display: inline;
  }

  .title-color{
    font-size: 2vh;
  }

  .ieee-content
{
  margin: 20px;
  font-size: 2vh;
  width: 95%; 
}

.container{
  padding-top: 50px;
  width: 100%;
}

.fests .fest-image .description{
  font-size: 3.5vh;
}

}

