




#formdisplay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
}

  .form1{
    padding-top: 10%;
    align-self: center;
    width: 100%;
    height: 100%;
    align-content: center;
    position: absolute;
    align-self: center;
    position: fixed;
  display: none;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
    
  }
  
  .form1 .header {
    width: 50%;
    margin: 50px auto 0px;
    color: white;
    background: rgb(27, 96, 245);
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 5%;
    font-size: 2.5vh;
    padding: 10px;
  }
  .form1 form, .content {
    width: 50%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
  }
  .form1 .input-group {
    margin: 5px 5px 20px 0px;
    width: 100%;
  }
  .form1 .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
    font-size: 2.5vh;
  }
  .form1 .input-group input {
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 2vh;
  }
  .form1 .btn {
    padding: 10px;
    font-size: 2.5vh;
    color: white;
    background: #00a2fff6;
    border: none;
    border-radius: 5px;
  }
  .form1 .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
    font-size: 40px;
  }
  .form1 .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
    font-size: 2.5vh;
  }
  .form1 form a{
    font-size: 2.5vh;
  }

 /* @media(min-width:600px)
 {
   .form1{
     top: 0%;
     
   }
   .header{
     width: 40%;
     font-size: 40px;
   }
   form,.content{
     width: 40%;
   }
   .input-group label{
     font-size: 30px;
   }
   .input-group input{
     font-size: 30px;
     height: 40px;
   }
   .btn{
     font-size: 20px;
     padding: 10px;
   }
   .error{
     font-size: 30px;

   }
   .success{
     font-size: 20px;

   }
   .form1 a{
     font-size: 20px;
   }

 } */
